name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: # This allows manual triggering of the workflow

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: |
        npm install

    - name: Compile TypeScript
      run: npm run compile

    - name: Run linter
      run: npm run lint

    - name: Package extension
      run: npx @vscode/vsce package

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: trident-vsix
        path: "*.vsix"
        retention-days: 90  # Keep artifacts for 90 days

    - name: Publish to Open VSX (Dev Release)
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: |
        npx @vscode/ovsx publish *.vsix --pat ${{ secrets.OPEN_VSX_SECRET }} --pre-release

